################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Avatars/savedAvatars.json
/Avatars/.vs/Avatars/config
/Avatars/.vs/Avatars/FileContentIndex/057e0aba-0751-4ef6-a853-7bb42d71c75e.vsidx
*.sqlite
